@white: #fff;
@text1: #333;
@text2: #3e424d;
@gray1: #666e7b;
@title1: #282b33;
@linear1: linear-gradient(#3da5f7, #228fe4);
@linear2: linear-gradient(#1c97f7, #1485de);
@blue1:#3DA5F7;
@border1:#E5E8EC;